.app-container {
  background-color: #fffdd0; /* Cream color background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 2px;
  margin: 20px 0;
  border-radius: 10%;
  padding: 0px 20px;
}

.row {
  display: contents;
}

.cell {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  font-size: 18px;
  cursor: pointer;
  background-color: #32CD32; /* Unrevealed cell color (green) */
}

.cell.revealed {
  background-color: #ffffff; /* Revealed cell color (white) */
}

.cell.flagged {
  color: white; /* Flagged cell text color */
}


.Navbar, .game-info, .message, .score-message {
  margin: 10px;
  display: flex;
  align-items: center;
}

.clock-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.mode-toggle, .restart-button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.restart-button {
  background-color: red; /* Restart button color */
  color: white;
  border: none;
  border-radius: 5px;
}

.restart-button:hover {
  background-color: darkred;
}

.mode-toggle {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
}

.mode-toggle:hover {
  background-color: darkblue;
}

.flag-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 3px;
}

/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px; /* Increase width */
  height: 300px; /* Increase height */
  background-color: lightgreen;
}

.modal-content h2 {
  font-size: 2em; /* Increase font size for title */
}

.modal-body {
  font-size: 1.35em; /* Increase font size for body text */
}

.modal-play-again-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em; /* Increase font size for button */
}

.modal-play-again-button:hover {
  background: #0056b3;
}
